* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Stack Sans Text", sans-serif;
}

/*Utility class*/
.flex-white {
  display: flex;
  color: white;
}
ul {
  list-style-type: none;
}
.bold {
  font-weight: bold;
}
.space {
  padding-right: 0.5em;
}
.little {
  font-weight: lighter;
  font-size: small;
}
.bold-medium {
  font-size: medium;
  font-weight: bold;
}
.red-little-bold {
  color: red;
  font-size: small;
  font-weight: bold;
}
.little-through {
  font-size: small;
  text-decoration: line-through;
}
img {
  max-width: 100%;
}
/*Regole pagina*/
.nav-bar-container {
  background-color: orangered;
  width: 100%;
  position: fixed;

}
.nav-bar {
  margin: 0 auto;
  width: 85%;
  height: 50px;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-nav-bar img {
  max-height: 30px;
}
.wrapper {
  margin: 0 auto;
  padding: 100px 0 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}
.card {
  width: 32%;
  padding-bottom: 30px;
}
.card ul {
    line-height: 1em;
}
