* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Stack Sans Text", sans-serif;
}
a {
    text-decoration-line: none;
}
ul {
  list-style-type: none;
}
/*Utility class*/
.flex {
  display: flex;
}
.white {
    color: white;
}

.bold {
  font-weight: bold;
}
.space {
  padding-right: 0.5em;
}
.little {
  font-weight: lighter;
  font-size: small;
}
.bold-medium {
  font-size: medium;
  font-weight: bold;
}
.red-little-bold {
  color: red;
  font-size: small;
  font-weight: bold;
}
.little-through {
  font-size: small;
  text-decoration: line-through;
}
img {
  max-width: 100%;
}
/*Regole pagina*/
.nav-bar-container {
  background-color: orangered;
  width: 100%;
  position: fixed;

}
.nav-bar {
  margin: 0 auto;
  width: 85%;
  height: 50px;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-nav-bar img {
  max-height: 30px;
}
.wrapper {
  margin: 0 auto;
  padding: 100px 0 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}
.card {
  width: 32%;
  padding-bottom: 30px;
  position: relative;
}
.card ul {
    line-height: 1em;
}
.end-bar-container {
    background-color: black;
    width: 100%;
}
.end-bar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100px;
}
.contatti-social i {
    font-size: 1.5em;
}
.cuore {
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px;
    background-color: white;
}
