* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Stack Sans Text", sans-serif;
}

/*Utility class*/
.flex-white {
    display: flex;
    color: white;
}
ul {
    list-style-type: none;
}
.bold {
    font-weight: bold;
}
.space {
    padding-right: 0.5em;
}
/*Regole pagina*/
.nav-bar {
    background-color: orangered;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-nav-bar img {
    max-height: 30px;
}